<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <table>
        <tbody>
        <!--/*@thymesVar id="nameList" type=""*/-->
        <!--/*@thymesVar id="moduleList" type=""*/-->
        <tr th:text="${moduleList}">
        </tr>
        </tbody>
    </table>
</head>
<body>
<p>hello</p>
</body>
</html>